<script src="../../../../universal/src/app/app.component.ts"></script>
<div>
  <h1>{{title}}</h1>
  <!--<div [hidden]="submitted">-->
  <div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <input [(ngModel)]="person.name" name="name" #name="ngModel" required minlength="4">
      <input [(ngModel)]="person.pass" [ngModelOptions]="{standalone: true}">
      <button [disabled]="!form.form.valid" (click)="login([person.name,person.pass])">登录</button>
    </form>
    <!--<input id="name" name="name" class="form-control"-->
           <!--required minlength="4" appForbiddenName="bob"-->
           <!--[(ngModel)]="person.cc" #name="ngModel" >-->
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name.errors.forbiddenName">
        Name cannot be Bob.
      </div>
    </div>
  </div>
</div>
